#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: #f5f5f5;
  color: #58666e;
  line-height: 1.35;
}
.bg-blue {
  background: #3b89ca !important;
  color: #f5f5f5 !important;
}
.btn-primary {
  border-color: #3b89ca !important;
  background-color: #3b89ca !important;
}
.btn-primary:hover:not([disabled]) {
  background-color: #3376ae !important;
}
.btn-sm { padding: 0.23rem 0.4rem; }
.td-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
input[type=range] { min-width: 200px; }
